N8N_JARVIN_Food_Chain.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1552,
        -384
      ],
      "id": "1098085a-7f10-47f8-b4c5-39e01a29186f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09ac599c-9cab-4594-b3bb-2d34d66b0250",
              "name": "id",
              "value": "1000000",
              "type": "string"
            },
            {
              "id": "89c26415-2b4d-4260-bb5e-b587501db859",
              "name": "merchant_id",
              "value": "1040",
              "type": "string"
            },
            {
              "id": "99dd5b50-c84d-4cab-bdc3-9b9f0e4eb357",
              "name": "merchant_name",
              "value": "Comercio_1040",
              "type": "string"
            },
            {
              "id": "0e7bd733-61e2-46a1-b814-ff103473d518",
              "name": "merchant_ciiu",
              "value": "G4741",
              "type": "string"
            },
            {
              "id": "ba4592d3-debb-4053-a953-96d237ce919d",
              "name": "amount_in_cents",
              "value": "78240",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1136,
        -128
      ],
      "id": "f458614e-4b7c-4f94-aa32-07e11823768a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -848,
        -240
      ],
      "id": "7da8e451-b020-485d-a218-06c97976b251",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -608,
        -240
      ],
      "id": "b85b2c2b-f58b-4f10-8243-0e7b0d9970bd",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1840,
        208
      ],
      "id": "3a9ac1d5-5833-41a3-b599-0ca1910e2bd7",
      "name": "When chat message received",
      "webhookId": "ce1ebedb-b647-4915-a644-be4bc0388256"
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "Eres un asistente llamado JARVIS que interpreta mensajes recibidos por WhatsApp para gestionar pedidos de comida. La carta es conformado por lo siguiente: Perros caliente: sencillos y grandes, sencillo a 5 mil pesos, grandes a 10 mil; Pizza: Jamon con queso a 10 mil y 20 mil la de pollo con champiñones; Empanadas argentinas a 8 mil pesos. Debes recibir la orden por parte del usuario, decirle el precio total de su orden y que te indiquen cual es el medio de pago, QR o llave"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1280,
        208
      ],
      "id": "891f955f-afd1-4306-9733-7c15288d0a8b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1280,
        464
      ],
      "id": "7f1cf0fe-ee15-48a5-9161-036374fe0880",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Ck8uWVWzaFowtEzp",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1632,
        976
      ],
      "id": "e6a417f7-1b9c-44be-ac5b-35330acc02ab",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "59XlyqmP9Nmr7Q38",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtiene el objeto de entrada del primer elemento del array.\nconst inputItem = items[0];\n\n// Asume que la salida del LLM Chain está en la propiedad \"json\" y luego en \"text\"\n// o una propiedad similar. Ajusta esto según el nombre real de la propiedad.\nconst text = inputItem.json.text || inputItem.text; \n\nif (!text) {\n    // Maneja el caso en que el texto no se encuentra\n    return [{ json: { error: 'El texto de entrada no se encontró en el objeto.' } }];\n}\n\n// El resto del código de parsing es el mismo\nconst lines = text.split('\\n').filter(line => line.trim() !== '');\n\nconst data = {\n    orden_recibida: [],\n    total_a_pagar: null,\n    metodo_de_pago: null\n};\n\nfor (const line of lines) {\n    if (line.includes('Orden recibida:')) {\n        const productLine = lines[lines.indexOf(line) + 1];\n        if (productLine) {\n            const parts = productLine.replace(/[\\*>-]/g, '').trim().split('→');\n            const product = parts[0].trim();\n            const price = parts[1].replace('pesos', '').trim();\n            data.orden_recibida.push({\n                producto: product,\n                precio: price\n            });\n        }\n    } else if (line.includes('Total a pagar:')) {\n        const price = line.replace(/[\\*Total a pagar:]/g, '').trim().replace('pesos', '').trim();\n        data.total_a_pagar = price;\n    } else if (line.includes('Método de pago:')) {\n        const method = line.replace(/[\\*Método de pago:]/g, '').trim().replace('(confirmado)', '').trim();\n        data.metodo_de_pago = method;\n    }\n}\n\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        192
      ],
      "id": "1c909f62-3733-41bc-b056-703ef89666a0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "paulapirela1d@gmail.com",
        "subject": "=Pedidos",
        "message": "=<p><strong>Nuevo pedido recibido</strong></p> <p>     <strong>Total:</strong> {{ $json.total_a_pagar }} pesos<br/>     <strong>Método de pago:</strong> {{ $json.metodo_de_pago }} </p> <p><strong>Producto:</strong></p> <ul>     <li>         {{ $json.orden_recibida[0].producto }} — {{ $json.orden_recibida[0].precio }} pesos     </li> </ul> <p>     <em>¿Todo correcto? Si deseas agregar algo más, solo dime. ¡Gracias por tu pedido!</em> </p> <hr/> <p>Se adjunta el reporte GA4 (últimos 7 días) como CSV.</p>",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -208,
        192
      ],
      "id": "15781e80-7b42-4011-a5ad-fabaed28ceb5",
      "name": "Send a message",
      "webhookId": "601595d5-3446-477f-9064-b1c84b51c815",
      "credentials": {
        "gmailOAuth2": {
          "id": "59XlyqmP9Nmr7Q38",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0c603ecd-16e3-4f3e-9d6b-4c891dd367aa",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1616,
        352
      ],
      "id": "bf39da41-ebc1-4eaa-8b27-02c2c2dd4ecf",
      "name": "If"
    }
  ],
  "pinData": {
    "When chat message received": [
      {
        "json": {
          "sessionId": "197e24efa53648eca638b4d01d58042a",
          "action": "sendMessage",
          "chatInput": "Hola, me gustaria hacer un pedido de perro caliente grande y mi metodo de pago es QR"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1c8f8563-0469-48ee-8903-0a3810a86399",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e1fb546a7222f890a6c3a32a54acc6591857eb1df268d54d7b73f019edce6eef"
  },
  "id": "8FLPPfaptS9udtnk",
  "tags": []
}